.game-matrix {
  //   border-collapse: collapse;

  td {
    width: 40px;
    height: 40px;
    border: 2px solid #cfd8dc;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      border-color: #777777;
    }
    &.blue {
      background-color: rgb(0, 132, 255);
    }
    &.red {
      background-color: tomato;
    }
    &.green {
      background-color: greenyellow;
    }
  }
}
